<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
<div class="fixed-button-wrapper fixed-button-left">
  <div class="back-button" ng-click="mainCtrl.goToPage('home')">
    <i class="fa fa-chevron-left"></i>
  </div>
</div>
<div class="container">
  <h1 class="text-center">Trading Partners Stats</h1>
  <h5 class="text-center"># of trading partners supporting varoius API transaction types</h5>
  <div class="transactions-stats-container">
    <div class="stat-bar-wrapper" ng-repeat="stat in stats.supportedTransactions">
      <h5>{{ stat.value }}</h5>
      <div class="stat-bar" style="height:{{ stat.value }}px;"></div>
      <h6>{{ stat.label }}</h6>
    </div>
  </div>
  <div class="total-bar-wrapper">
    <h4 class="text-center"> % of Trading Partners that are enabled</h4>
    <div class="total-bar" style="width: {{ stats.totalEnabled }}px;">
    </div>
    <h5 class="total-text">
      {{ stats.totalEnabled / stats.totalEnabled * 100 }}%
      <h6>{{stats.totalEnabled}} total</h6>
    </h5>
  </div>
</div>
