////Transitions between views
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .7s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .7s;
  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0;
}

.view-animate.ng-enter {
  transform: translateX(-1000px);
}
.view-animate.ng-enter.ng-enter-active {
  transform:translateX(0);
  opacity:1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity:0;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-enter,
.repeat-animation.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

.repeat-animation.ng-leave,
.repeat-animation.ng-move.ng-move-active,
.repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
}

@keyframes growY {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}
@keyframes growX {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}
